// ==========================================================================
//
//	Content Blocks
//		Predefined building blocks
//
// ==========================================================================

.content-blocks {
	@include row;
}

// --------------------------------------------------------------------------
//	 Standard
// --------------------------------------------------------------------------

.heading {
	@include span-columns(12);
}

.standard {
	@include span-columns(12);
}

	.split-columns {
		column-count: 2;
		column-gap: $gap * 2;
	}


// --------------------------------------------------------------------------
//	 Odd Columns
// --------------------------------------------------------------------------

.blocks {

	.block {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		padding: 60px;
	}


	// ----- Colour Variations ----- //

	.cyan {
		background-color: $cyan;
	}

	.darkblue {
		background-color: $darkblue;

		h1, h2, h3, h4, h5, h6 {
			color: $cyan;
		}
	}


	// ----- Size Variations ----- //

	.short 	{ .block { height: 312px; } }
	.medium { .block { height: 360px; } }
	.tall 	{ .block { height: 460px; } }

	.no-padding { padding: 0; }

	// ----- Sizes ----- //

	.one						{ @include span-columns(12,		block-collapse); }
	.one_quarter		{ @include span-columns(3,		block-collapse); }
	.one_half				{ @include span-columns(6,		block-collapse); }
	.three_quarters	{ @include span-columns(9,		block-collapse); }
	.one_third			{ @include span-columns(4,		block-collapse); }
	.two_thirds			{ @include span-columns(8,		block-collapse); }
	.one_fifth			{ @include span-columns(2.4,	block-collapse); }
	.two_fifths			{ @include span-columns(4.8,	block-collapse); }
	.three_fifths		{ @include span-columns(7.2,	block-collapse); }
	.four_fifths		{ @include span-columns(9.6,	block-collapse); }


	// ----- Tablet & Mobile ----- //

	.one,
	.one_quarter,
	.one_half,
	.three_quarters,
	.one_third,
	.two_thirds,
	.one_fifth,
	.two_fifths,
	.three_fifths,
	.four_fifths {

		@include media($mobile-down) {
			@include span-columns(4);
		}
	}
}
