// ==========================================================================
//
//	Content Blocks
//		Predefined building blocks
//
// ==========================================================================


// --------------------------------------------------------------------------
//	 Heading
// --------------------------------------------------------------------------

.heading-block {
	padding: 60px 0 0;
}

	.heading {
		@include span-columns(12);
		text-align: center;
		margin-bottom: 0;
	}


// --------------------------------------------------------------------------
//	 Standard
// --------------------------------------------------------------------------

.text-block {
	padding: 60px;

	@include media($mobile-down) {
		padding: $gap;
	}
}

	.standard {
		@include span-columns(12);
	}


// --------------------------------------------------------------------------
//  Left aligned logo (News)
// --------------------------------------------------------------------------

.left-logo {

	.logo {
		@include span-columns(3);
		text-align: right;
		padding-right: $gap;

		@include media($mobile-down) {
			@include span-columns(4);
			text-align: center;
			margin-bottom: $gap;
		}
	}

	.standard {
		@include span-columns(9);

		@include media($mobile-down) {
			@include span-columns(4);
		}
	}
}

// --------------------------------------------------------------------------
//	 Text columns
// --------------------------------------------------------------------------

.text-columns  {
	
	.standard {
		padding: 60px 0;
	}
	
	.column-1,
	.column-2 {
		 @include span-columns(6);
		 
		@include media($mobile-down) {
			@include span-columns(4);
		}
	}

	@include media($mobile-down) {
		padding: $gap;
	}
	
}

// ----- Width variations ----- //

// .wide stuff


// --------------------------------------------------------------------------
//	 Blocks
// --------------------------------------------------------------------------

.blocks-wrapper {
	float: left;
	width: 100%;
}

.blocks {
	@include clearfix;

	// ----- Border Variations ----- //

	// Ideally the vertical margins will collapse,
	// giving us a nice 1px gap between block groups

	&.white-border {
		margin-top: 1px;
		margin-bottom: 1px;

		.block {
			border-right: 1px solid $white;

			&:last-child {
				border-right: none;
			}
		}

	}
	
	&.border-top-cyan {
		border-top: 2px solid lighten($cyan, 30);
	}
}

.standard {

	&.border-top-cyan {
		border-top: 2px solid lighten($cyan, 30);
	}
}

// ----- Height Variations ----- //

.short 		{ .block { height: 350px; } }
.medium 	{ .block { height: 425px; } }
.tall 		{ .block { height: 500px; } }


.auto {

	.block.bg-image {

		@include media($mobile-down) {
			min-height: 360px;
		}
	}
}

// --------------------------------------------------------------------------
//	 Block
// --------------------------------------------------------------------------

	.block {

		.block-content {
			padding: 60px;
			width: 100%;
			transition: all 500ms;

			@include media($mobile-down) {
				padding: $gap;
			}
		}
	}


	// ----- Link Block ----- //

	// The blocks with images can handle
	// transparency but the solid colour
	// backgrounds will need a solid "underlay"

	// ----- General link hover ----- //

	.link-block {

		a {
			display: block;
		}

		h3 {
			text-transform: uppercase;
			color: $white;
			transition: opacity 300ms, transform 300ms, ease-in-out;
			transform: translate3d(0, 5px, 0);
		}

		a:hover .block-content {
			background-color: $yellow;

			// Slide in the heading when block is hovered

			h1 h2, h3, h4, h5, h6 {
				color: $white;
				transform: translate3d(0,0,0);
			}

			.button {
				background-color: $cyan;
			}
		}
	}

	// ----- Transparent link hover ----- //

	.link-block.bg-image.no-bg-color {

		.block-content {
			background-color: rgba(black, 0.2);
		}

		a:hover .block-content {
			background-color: rgba($yellow, 0.9);
		}
	}

	// ----- Home Page CTA ----- //

	.block.cta {

		.button {
			position: absolute;
			bottom: $gap * 3;
		}
	}

	// ----- Image block ----- //

	.bg-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}


	// ----- Colour Variations ----- //

	.cyan {
		background-color: $cyan;

		h3 {
			color: $darkblue;
		}
	}

	.darkblue {
		background-color: $darkblue;

		h1, h2, h3, h4, h5, h6 {
			color: $cyan;
		}
	}


	.white-text {
		color: $white;

		h1, h2, p, li {
			color: $white;
		}
	}


	// ----- Video content ----- //

	.block.video {

		// Video is getting wrapped in a paragraph
		// tag with a margin, needs an override

		p {
			margin: 0;
		}
	}


	// ----- Alignment variations ----- //

	.block.align-bottom {
		display: table;

		&.link-block a {
			height: 100%;
			display: table-row;
		}

		.block-content {
			display: table-cell;
			vertical-align: bottom;
		}
	}

	.block.align-middle {
		display: table;

		&.link-block a {
			height: 100%;
			display: table-row;
		}

		.block-content {
			display: table-cell;
			vertical-align: middle;
		}
	}


	// ----- No Padding ----- //

	.no-padding {

		.block-content {
			padding: 0;

			@include media($mobile-down) {
				padding: 0;
			}
		}
	}


	// ----- Sizes ----- //

	.one						{ @include span-columns(12,		block-collapse); }
	.one_quarter		{ @include span-columns(3,		block-collapse); }
	.one_half				{ @include span-columns(6,		block-collapse); }
	.three_quarters	{ @include span-columns(9,		block-collapse); }
	.one_third			{ @include span-columns(4,		block-collapse); }
	.two_thirds			{ @include span-columns(8,		block-collapse); }
	.one_fifth			{ @include span-columns(2.4,	block-collapse); }
	.two_fifths			{ @include span-columns(4.8,	block-collapse); }
	.three_fifths		{ @include span-columns(7.2,	block-collapse); }
	.four_fifths		{ @include span-columns(9.6,	block-collapse); }


	// ----- Tablet & Mobile ----- //

	.one_half,
	.one_third,
	.two_thirds
	{

		@include media($mobile-down) {
			@include span-columns(4);

			&:last-child {
				@include span-columns(4);
			}
		}
	}

	.one_quarter,
	.three_quarters,
	.one_fifth,
	.two_fifths,
	.three_fifths,
	.four_fifths
	{

		@include media($mobile-down) {
			@include span-columns(2, block-collapse);
		}
	}


// --------------------------------------------------------------------------
//	 Slideshow
// --------------------------------------------------------------------------


.slideshow {

	.slide {

		img {
			display: none;
		}
	}
}
