// ==========================================================================
//
//  Layout
//    Primary stylesheet
//
// ==========================================================================


html {
	overflow-x: hidden;
	background-color: #fefefe;
}

html.no-touch {
	overflow-y: auto;
}

@include keyframes(fade-in) {
  from { opacity: 0; }
    to { opacity: 1; }
}

body {
	@include clearfix;
	@include animation(fade-in 800ms ease-in-out, ease 1);
	position: relative;
	width: 100%;
	height: 100%;

	&.admin-bar {

		@include media(max-width 782px) {
			padding-top: 46px;
		}
		padding-top: 32px;
	}
}

#page-wrapper {
	position: relative;
	width: 100%;
}

@mixin center {
	@include clearfix;

	@include media($desktop-down) {
		width: $desktop;
	}

	@include media($tablet-down) {
		width: $tablet;
	}

	@include media($mobile-down) {
		max-width: $mobile;
		width: auto;
	}

	margin-right: auto;
	margin-left: auto;

	width: $desktop;
	*zoom: 1;

}


// ----- Variation on center mixin for fullscreen at desired width ----- //

@mixin center-full {
	@include clearfix;

	@include media($desktop-down) {
		width: $desktop;
	}

	@include media($tablet-down) {
		width: $tablet;
	}

	@include media($mobile-down) {
		max-width: 100%;
		width: auto;
	}

	margin-right: auto;
	margin-left: auto;

	width: $desktop;
	*zoom: 1;
}

// --------------------------------------------------------------------------
//   Sections
// --------------------------------------------------------------------------

.wrapper {
	position: relative;
	display: block;
	padding: $gap * 2 $gap;
}

	.section {
		@include center;
	}

		.section-content {
			@include row;
		}


/* variation on wrapper for fullscreen at desired width  */
.fullscreen-wrapper {
	position: relative;
	display: block;

	padding: 0;

	.section {
		@include center-full;

		.section-content {
			@include row;
		}
	}

}


// --------------------------------------------------------------------------
//   Header
// --------------------------------------------------------------------------

#header-wrapper {

	@include media ($desktop-up) {
		// position: absolute;
		// top: 0;
		// right: 0;
		// left: 0;
		background: rgba($super-dark-purple, 0.9);
		background-blend-mode: multiply;
	}

	position: relative;
	z-index: 99;

	padding-top: $gap;
	padding-bottom: $gap;

	background: $super-dark-purple;

	#header {

		#header-content {

			@include media($mobile-down) {
				padding-top: $gap * 2;
			}
			position: relative;
		}
	}
}


// ----- Queens Riverside Logo ----- //

#queens-riverside-header-logo {

	@include media ($mobile-down) {

	}

	display: inline-block;
	width: 129px;
	height: 23px;

}


// ----- Frasers Logo ----- //

#fraser-logo {

	@include media ($large-desktop-down) {
		right: 0;
	}

	@include media ($mobile-down) {
		left: 0;
	}

	position: absolute;
	top: -$gap;
	right: -284px;
	width: 284px;
	height: 35px;
}


// ----- Lily Logo ----- //

#logo {

	@include media ($mobile-down) {
		position: absolute;
		top: 30px;
		left: 0;
		margin-top: 0;
		width: 120px;
	}

	margin: 0 0 30px 0;
	width: 194px;

	img + h1 {
		@include visuallyhidden;
	}
}


// --------------------------------------------------------------------------
//   Banner
// --------------------------------------------------------------------------

#banner-wrapper {
	padding: 0;
	margin-top: -170px;

	.banner-slide {
		position: relative;

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;

		min-height: 700px;

		@include media($mobile-down) {
			min-height: 400px;
		}

		.caption {
			position: absolute;
			bottom: $gap * 4;
			left: 50%;
			margin-left: -200px;
			z-index: 999;
			width: 400px;

			text-align: center;
			background: $cyan;
			color: $white;
			border: 1px solid $white;
			padding: 15px;
		}
	}
}

	#banner {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

// --------------------------------------------------------------------------
//   Main Content
// --------------------------------------------------------------------------

#main-wrapper {

	#main {
		padding: $gap 0;

		#main-content {

		}
	}
}


// --------------------------------------------------------------------------
//   Action Form
// --------------------------------------------------------------------------

#action-form {
	padding: $gap $gap/2;
	background: #046a6b;
	background: rgba(0, 187, 189, 0.6);

	h2 {
		margin-bottom: 0;
		color: $yellow;
		text-transform: uppercase;
		font-weight: normal;
		font-style: normal;
		font-size: 2em;
		font-family: AvenirLTStd-Black;
	}

	h3 {
		font-size: 1.5em;
		font-family: AvenirLTStd-Medium, Arial, Helvetica, Sans-serif;
	}

	h2,
	h3 {

		@include media ($mobile-down) {
			text-align: center;
		}
		padding-left: $gap/2;
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"] {
		border: none;
		border: 1px solid transparent;
		background: $blue;
		color: $white;
		font-size: 0.8125em;
		-webkit-font-smoothing: antialiased;

		&:focus, &:active {
			border: 1px solid darken($blue, 20);
			background: $white;
			color: $blue;
		}

	}

	::-webkit-input-placeholder { /* WebKit browsers */
	    color:    $white;
	}

	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    $white;
	    opacity:  1;
	}

	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    $white;
	    opacity:  1;
	}

	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:    $white;
	}

	::-webkit-input-placeholder,
	:-moz-placeholder,
	::-moz-placeholder,
	:-ms-input-placeholder {

	}

	.gfield {
		margin-bottom: $gap/2;
	}

	#field_1_3 label,
	#field_1_4 label,
	#field_1_5 label,
	#field_1_6 label {
		display: none;
	}

	.gfield.gfield_error.gfield_contains_required {
			#field_1_3 label,
			#field_1_4 label,
			#field_1_5 label,
			#field_1_6 label {
				display: block;
		}
	}

	.gfield_error .gfield_label {
		display: block !important;
	}

	#gform_submit_button_1 {
		position: relative;
		float: right;
		clear: both;
		border-radius: 0;
		background: $white;
		color: #000;
/* 		margin-top: 30px; */

		&:hover {
			border-color: $blue;
			background: $blue;
			color: $white;
		}

		&:active {
			top: 1px;
		}
	}

	#gforms_confirmation_message {
		display: none;
	}

	.mandatory {
		color: $white;
		font-size: 0.8125em;
		-webkit-font-smoothing: antialiased;
	}
}


// --------------------------------------------------------------------------
//   Video
// --------------------------------------------------------------------------

#video-wrapper {
	background: $yellow;

	#video {

		@include media($mobile-down) {
			padding: 0;
		}
		padding: $gap 0;

		#video-content {
			text-align: center;
		}
	}
}

.fluid-width-video-wrapper {
	float: left;
	width: 100%;
}


/* have to declaree a height here because fitvids is pushy */
#confirmation-message {
	@include clearfix;

	@include media($tablet-down) {
		height: 380px;
	}
	display: none;
	float: left;
	padding-top: $gap;
	width: 100%;
	color: $super-dark-purple-alt;
	text-align: left;

	p {
		margin-bottom: 10px;
	}

/*
	@include media(max-width: 500) {

	}

*/
	@media only screen and (max-width : 480px) {
		height: 520px;
	}
}

#confirmation-message-details {
	@include span-columns(7 of 12);

	@include media($tablet-down) {
		@include span-columns(12 of 12);
		text-align: center;
	}
	// display: none;

	.phone-number {
		font-family: AvenirLTStd-Black, Arial, Helvetica, Sans-serif;
	}
	.check-video {
		font-size: 1.4em;
		font-family: AvenirLTStd-Medium, Arial, Helvetica, Sans-serif;
	}
}

/* 1.99 wtf! */
#confirmation-social {
	@include shift(1.99);
	@include span-columns(3 of 12);
	@include omega();

	@include media($tablet-down) {
		@include shift(0);
		@include span-columns(12 of 12);
		text-align: center;
	}
	text-align: right;
	// display: none;

	.hashtag {
		margin-bottom: $gap;
		color: $super-dark-purple-alt;
	}

}

.confirmation-link {
	display: inline-block;
	margin: 0 0 10px 5px;
	padding: 2px 10px 0;
	background: $blue;
	text-align: center;
	font-size: ms(1);
	transform: translateZ(0);

	&:hover {
		background: $white;
 		color: $blue;

			.icon-facebook,
			.icon-twitter,
			.icon-instagram {
			  	animation-name: pop;
			  	animation-duration: 0.3s;
			  	animation-timing-function: linear;
			  	animation-iteration-count: 1;

			}
		}
}


// --------------------------------------------------------------------------
//   Map
// --------------------------------------------------------------------------

#map-wrapper {
	padding: 0;
}

.acf-map {

	@include media($tablet-down) {
		height: 250px;
	}
	width: 100%;
	height: 470px;
}

// --------------------------------------------------------------------------
//   Community
// --------------------------------------------------------------------------

#community-wrapper {
	padding: 0;
	margin-bottom: 1px;

	#community {
		padding: 0;
		width: 100%;

		#community-content {
			border-left: 1px solid $white;
		}
	}
}

@include keyframes(pop) {
  50% {
    transform: scale(1.4);
  }
100% {
    transform: scale(1);
  }
}


.community-link {
	@include span-columns(3, block-collapse);
	display: inline-block;
	padding: $gap/2;
	border-right: 1px solid $white;
	background: $blue;
	text-align: center;
	font-size: ms(3);
	transition: background 0.3s ease-in-out;
	transform: translateZ(0);


	&.first {
		// border-left: none;
	}

	.icon {
		vertical-align: initial;
	}

	&:hover {
		background: $yellow;
		color: $white;

			.icon {

			  	animation-name: pop;
			  	animation-duration: 0.3s;
			  	animation-timing-function: linear;
			  	animation-iteration-count: 1;

			}
	}

}



// --------------------------------------------------------------------------
//   Content
// --------------------------------------------------------------------------

#content {

}

#content.full-width {

}


// --------------------------------------------------------------------------
//   Pages
// --------------------------------------------------------------------------

article.page {

	header {
		@include center;
	}
}

.page-title {
	text-align: center;
}


// --------------------------------------------------------------------------
//   Footer
// --------------------------------------------------------------------------

#footer-wrapper {

	@include media($mobile-down) {
		padding: $gap*4 0 $gap*6;
	}
	padding: $gap*6 0;
	background: $super-dark-purple;

	a:hover {
		color: $blue;
	}

	#footer {
		position: relative;

		#footer-content {
			@include span-columns(5);

			@include media($mobile-down) {
				@include span-columns(4);
				padding: 0 0 $gap 0;
				border-right: none;
				border-bottom: 1px solid $blue;
			}
			padding-right: $gap;
			border-right: 1px solid $blue;
			font-size: ms(-1);

			p {
				margin-bottom: 0;
			}

		}
	}
}

.footer-nav {
	@include span-columns(3);

	@include media($mobile-down) {
		@include span-columns(4);
	}
	padding-top: 15px;
	text-align: justify;

	ul {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			font-size: ms(-1);
		}
	}

}

#queens-riverside-footer-logo {

	@include media($mobile-down) {
		position: relative;
	}
	position: absolute;
	top: 25px;
	right: 0;
	width: 170px;
	height: 32px;


}
