// ==========================================================================
//
//  Layout
//    Primary stylesheet
//
// ==========================================================================


html {
	overflow-x: hidden;
	background-color: #fefefe;
}

html.no-touch {
	overflow-y: auto;
}

@include keyframes(fade-in) {
  from { opacity: 0; }
    to { opacity: 1; }
}

body {
	@include clearfix;
	@include animation(fade-in 800ms ease-in-out, ease 1);
	position: relative;
	width: 100%;
	height: 100%;

	&.admin-bar {

		@include media(max-width 782px) {
			padding-top: 46px;
		}
		padding-top: 32px;
	}
}

#page-wrapper {
	position: relative;
	width: 100%;
}

@mixin center {
	@include clearfix;

	@include media($large-desktop-up) {
		width: $large-desktop;
	}

	@include media($desktop-down) {
		width: $desktop;
	}

	@include media($tablet-down) {
		width: $tablet;
	}

	@include media($mobile-down) {
		max-width: $mobile;
		width: auto;
	}

	margin-right: auto;
	margin-left: auto;

	width: $desktop;
	*zoom: 1;

}


// ----- Variation on center mixin for fullscreen at desired width ----- //

@mixin center-full {
	@include clearfix;

	@include media($desktop-down) {
		width: $desktop;
	}

	@include media($tablet-down) {
		width: $tablet;
	}

	@include media($mobile-down) {
		max-width: 100%;
		width: auto;
	}

	margin-right: auto;
	margin-left: auto;

	width: $desktop;
	*zoom: 1;
}

// --------------------------------------------------------------------------
//   Sections
// --------------------------------------------------------------------------

.wrapper {
	position: relative;
	display: block;
	padding: $gap * 2 $gap;
}

	.section {
		@include center;
	}

		.section-content {
			@include row;
		}


/* variation on wrapper for fullscreen at desired width  */
.fullscreen-wrapper {
	position: relative;
	display: block;

	padding: 0;

	.section {
		@include center-full;

		.section-content {
			@include row;
		}
	}

}


// --------------------------------------------------------------------------
//   Header
// --------------------------------------------------------------------------

#header-wrapper {

	@include media ($desktop-up) {
		// position: absolute;
		// top: 0;
		// right: 0;
		// left: 0;
		background: rgba($super-dark-purple, 0.9);
		background-blend-mode: multiply;
	}

	position: relative;
	z-index: 99;

	padding-top: $gap*3;
	padding-bottom: $gap;

	background: $super-dark-purple;

	#header {

		#header-content {
			@include media($mobile-down) {
				padding-top: $gap * 2;
			}
			position: relative;
		}
	}

}

// ----- Header cta ----- //

#header-cta {
	@include avenair-medium;
	color: $medium-gray;
	text-align: right;
	text-transform: uppercase;

	a {
		@include avenair-black;
		color: $medium-gray;
	}

	.hashtag {
		color: $cyan;
	}
}


// ----- Queens Riverside Logo ----- //

// Absolute positioning for logos is ok ;)

#queens-riverside-header-logo {

	@include media ($mobile-down) {
	}

	position: absolute;
	bottom: -30px;
	left: 0;
	width: 175px;
	height: 33px;

}


// ----- Frasers Logo ----- //

#fraser-logo {

	@include media($large-desktop-up) {
		right: 0;
	}

	@include media ($large-desktop-down) {
		right: 0;
	}

	@include media ($mobile-down) {
		left: 0;
	}

	position: absolute;
	top: -$gap*3;
	right: -320px;
	width: 284px;
	height: 35px;
}



// --------------------------------------------------------------------------
//   Banner
// --------------------------------------------------------------------------

#banner-wrapper {
	margin-top: -170px;
	padding: 0;

	.banner-slide {

		@include media($mobile-down) {
			min-height: 400px;
		}
		position: relative;

		min-height: 700px;
		background-position: center bottom;

		background-size: cover;
		background-repeat: no-repeat;

		.caption {
			position: absolute;
			bottom: $gap * 4;
			left: 50%;
			z-index: 999;
			margin-left: -200px;
			padding: 15px;
			width: 400px;
			border: 1px solid $white;
			background: $cyan;
			color: $white;

			text-align: center;
		}
	}
}

#instagram-hash:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#banner {
	right: 0;
	bottom: 10%;
	left: 0;
	color: $white;

	// 10% is just temporary positioning
	// until some perfect middle is introduced

	position: absolute;

	// ----- Home page hero type ----- //

	p {
		margin-bottom: 0;
		line-height: 1.5;
	}

	h2, h4 {
		@include salome-italic;
		color: $white;
	}

	h2 {
		@include salome-italic;
		margin: 0 0 0.3em;
		text-transform: none;
	}

	h4 {
		@include avenair-medium;
		margin: 0.3em 0 0.8em;
		text-transform: uppercase;
	}

}

// ----- Clock ----- //

// Todo: AWST needs own styling

#clock {
	@include avenair-black;
	font-size: ms(3);

	small {
		font-size: 1em;
	}
}

// ----- Lily Logo ----- //

#logo {

	margin: 0 0 30px 0;
	width: 130px;

	img + h1 {
		@include visuallyhidden;
	}
}

// ----- Hero underlay ----- //

#hero-underlay {
	position: absolute;
	top: 170px;
	left: 0;
	width: 100%;
	background: rgba($yellow, 0);
	transition: all 500ms; // Header wrapper height
	bottom: 0;

	&.active {
		background: rgba($yellow, 0.9);
	}
}



// --------------------------------------------------------------------------
//   Main Content
// --------------------------------------------------------------------------

#main-wrapper {

	#main {
		padding: $gap 0;

		#main-content {

		}
	}
}


// --------------------------------------------------------------------------
//   Registration Form
// --------------------------------------------------------------------------

#register-wrapper {
	padding: $gap*3 $gap;
	background: url(images/bg-registration-form.jpg) no-repeat center;
	background-size: cover;
}

#register-content {
	color: $white;

	h3 {
		margin-bottom: $gap/2;
		color: $yellow;
		font-weight: normal;
		font-style: normal;
		font-size: 3em;
	}

	.gform_wrapper {
		padding: $gap;
		background: $cyan;
		background: rgba($cyan, 0.3);
		margin-top: $gap*2;
	}

	.gform_body {
		@include clearfix;
	}

	.gform_fields {
		@include span-columns(6);

		@include media($mobile-down) {
			@include span-columns(4);
		}
	}

	.gfield_label {
		display: none;
	}

	input[type="text"],
	input[type="tel"],
	input[type="email"] {
		border: none;
		border: 1px solid transparent;
		background: $blue;
		color: $white;
		font-size: 0.8125em;
		-webkit-font-smoothing: antialiased;

		&:focus, &:active {
			border: 1px solid darken($blue, 20);
			background: $white;
			color: $blue;
		}

	}

	::-webkit-input-placeholder { /* WebKit browsers */
	    color:    $white;
	}

	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    $white;
	    opacity:  1;
	}

	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    $white;
	    opacity:  1;
	}

	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:    $white;
	}

	::-webkit-input-placeholder,
	:-moz-placeholder,
	::-moz-placeholder,
	:-ms-input-placeholder {

	}

	.gfield {
		margin-bottom: $gap/2;
	}

	#field_1_3 label,
	#field_1_4 label,
	#field_1_5 label,
	#field_1_6 label {
		display: none;
	}

	.gfield.gfield_error.gfield_contains_required {
			#field_1_3 label,
			#field_1_4 label,
			#field_1_5 label,
			#field_1_6 label {
				display: block;
		}
	}

	.gfield_error .gfield_label {
		display: block !important;
	}

	.gform_footer {
		text-align: center;
		position: relative;
	}

	#gform_submit_button_1 {
		position: relative;
		display: inline-block;
		clear: both;
		border-radius: 0;
		background: $yellow;
		color: #000;
		text-transform: uppercase;
 		margin-top: $gap;
 		border-color: transparent;

		&:hover {
			background: $yellow;
			color: $white;
		}

		&:active {
			top: 1px;
		}
	}

	#gforms_confirmation_message {
		display: none;
	}

	.mandatory {
		position: absolute;
		right: 0;
		bottom: 0;
		color: $white;
		font-size: 0.8125em;
		-webkit-font-smoothing: antialiased;
	}
}


// --------------------------------------------------------------------------
//   Video
// --------------------------------------------------------------------------

#video-wrapper {
	background: $yellow;
	@include clearfix;

	@include media(min-width 2000px) {
		padding: $gap * 2;

		#video {
			max-width: 2000px;
			margin: 0 auto;
		}
	}
}

.fluid-width-video-wrapper {
	float: left;
	width: 100%;
}

// --------------------------------------------------------------------------
//  Live Lily Statement Section
// --------------------------------------------------------------------------

#livelily-wrapper {
	background: $cyan;
}

	#livelily {
		width: 700px;
		padding: 80px 0;

		@include media(max-width 700px) {
			width: 440px;
			padding: 60px 0;

			#livelily-content {
				font-size: 1.6em;
			}
		}

		@include media(max-width 460px) {
			width: 320px;
			padding: 40px 0;

			#livelily-content {
				font-size: 1.2em;
			}
		}
	}

	#livelily-content {
		font-size: 2.6em;
		line-height: 1.3;
		color: $white;
		@include  salome-italic;
		em {
			color: $darkblue;
			text-decoration: none;
			font-style: normal;
		}

	}
	
// --------------------------------------------------------------------------
//  Instagram
// --------------------------------------------------------------------------	

#instagram-wrapper {
	background: $white;
}

	#instagram {
		
		#instagram-hash {
			text-align: center;
		
			.fat-hash {
				font-family: Verdana, Geneva, sans-serif;
			}
			
			h3.hashtag {
				color: $super-dark-purple;
				@include salome-regular;
				text-transform: uppercase;
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 0;
				font-size: 3.0em;
			}
		
		}
		
		// Helper for vertical middle of object with unknown height
		
		#instagram-hash:before {
		    content: '';
		    display: inline-block;
		    height: 100%;
		    vertical-align: middle;
		}
		
					
	}
	


// --------------------------------------------------------------------------
//   Map
// --------------------------------------------------------------------------

#map-wrapper {
	padding: 0;
}

.acf-map {

	@include media($tablet-down) {
		height: 250px;
	}
	width: 100%;
	height: 470px;
}

// --------------------------------------------------------------------------
//   Community
// --------------------------------------------------------------------------

#community-wrapper {
	margin-bottom: 1px;
	padding: 0;

	#community {
		padding: 0;
		width: 100%;

		#community-content {
			border-left: 1px solid $white;
		}
	}
}

@include keyframes(pop) {
  50% {
    transform: scale(1.4);
  }
100% {
    transform: scale(1);
  }
}


.community-link {
	@include span-columns(3, block-collapse);
	display: inline-block;
	padding: $gap/2;
	border-right: 1px solid $white;
	background: $blue;
	text-align: center;
	font-size: ms(3);
	transition: background 0.3s ease-in-out;
	transform: translateZ(0);


	&.first {
		// border-left: none;
	}

	.icon {
		vertical-align: initial;
	}

	&:hover {
		background: $yellow;
		color: $white;

			.icon {

			  	animation-name: pop;
			  	animation-duration: 0.3s;
			  	animation-timing-function: linear;
			  	animation-iteration-count: 1;

			}
	}

}



// --------------------------------------------------------------------------
//   Content
// --------------------------------------------------------------------------

#content {

}

#content.full-width {

}


// --------------------------------------------------------------------------
//   Pages
// --------------------------------------------------------------------------

article.page {

	header {

	}

	header.bg-image {
		display: table;
		width: 100%;
		height: 300px;

		@include media($mobile-down) {
			height: 100px;
		}

		.page-title {
			display: table-cell;
			vertical-align: bottom;
			padding-bottom: 30px;
			color: $white;
		}
	}

}

.page-title {
	text-align: center;
	padding: $gap * 3 $gap 0;
}


// --------------------------------------------------------------------------
//   Footer
// --------------------------------------------------------------------------

#footer-wrapper {

	@include media($mobile-down) {
		padding: $gap*4 0 $gap*6;
	}
	padding: $gap*6 0;
	background: $super-dark-purple;

	a:hover {
		color: $blue;
	}

	#footer {
		position: relative;

		#footer-content {
			@include span-columns(5);

			@include media($mobile-down) {
				@include span-columns(4);
				padding: 0 0 $gap 0;
				border-right: none;
				border-bottom: 1px solid $blue;
			}
			padding-right: $gap;
			border-right: 1px solid $blue;
			font-size: ms(-1);

			p {
				margin-bottom: 0;
			}

		}
	}
}

.footer-nav {
	@include span-columns(3);

	@include media($mobile-down) {
		@include span-columns(4);
	}
	padding-top: 15px;
	text-align: justify;

	ul {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			font-size: ms(-1);
		}
	}

}

#queens-riverside-footer-logo {

	@include media($mobile-down) {
		position: relative;
	}
	position: absolute;
	top: 25px;
	right: 0;
	width: 170px;
	height: 32px;


}
