
// ==========================================================================
//
//	Drop Down Menu
//
// ==========================================================================

// --------------------------------------------------------------------------
//	 Full width
// --------------------------------------------------------------------------

#menu-toggle {
	display: none;
}

@include media($mobile-up) {

	#main-nav {

	}

}

// // animates main nav on hover
// @include keyframes(sinkFromTop) {
//   from { transform: translateY(-15px); opacity: 0; height: 0; }
//     to { transform: translateY(0); opacity: 1; height: 55px;}
// }

//hide the slick menu
.slicknav_menu {
	display:none;
}

#main-nav {
	@include clearfix;
	@include avenair-medium;
	float: right;
	text-transform: uppercase;

	.menu {
		@include span-columns(12);
		margin: 0;
		padding: 0;

		li {
			float: left;
			list-style: none;
			margin-left: 1em;
			display: block;

			&:first-child {
				margin-left: 0;
			}

			&.current-menu-item, &.current-menu-ancestor, &.current-menu-parent {

				a {

				}
			}

			a {
				display: block;
				padding: 0.2em 0.5em;
				color: $medium-gray;
				transition: color 300ms, ease-in-out;
			}

			&.active > a, a:hover {
				color: $white;
			}

			.sub-menu {
				position: absolute;
				left: 0;
				overflow: hidden;
				padding: 0;
				width: 100%;
				background: $white;
				text-align: center;
				margin-top: 15px;
				opacity: 0;
				height: 0;
				transition: all 600ms ease;

				li {
					position: relative;
					display: inline-block;
					float: none;
					margin: 0 0 0 1em;

					&.menu-parent > a:after {
						position: absolute;
						top: 3px;
						right: 9px;
					}

					a {
						width: auto;
						padding: 0.8em 0.5em;
						color: $super-dark-gray;

						&:hover {
							color: $super-dark-purple;
						}
					}

					&.active a {
						color: $super-dark-purple;
					}

				}

				.sub-menu {
					position: absolute;
					top: 0;
					left: 100%;
					display: none;

				}
			}

			&:hover > .sub-menu {
				display: block;
				z-index: 1;
				opacity: 1;
				height: 55px;

				// animation: sinkFromTop 600ms ease;
				// animation-fill-mode: both;
				// animation-iteration-count: 1;
			}

			// opens sub menu on hover but then closes again
			&.show-menu > .sub-menu {
				display: block;
				z-index: 1;
				height: 55px;
			}

			// keps active menu open
			&.active > .sub-menu {
				display: block;
				animation: none;
				opacity: 1;
				height: 55px;
			}

		}

/*
		li:after {
		    content:'';
		    display:block;
		    height:15px;
		    margin-bottom: -15px;
		}
*/

	}
}


// --------------------------------------------------------------------------
//	 Collapsed
// --------------------------------------------------------------------------

@include media($tablet-down) {

	
	#nav-content {
		position: relative;
	}
	
	#main-nav {
		float: none;
		display: none;
	}
	
	//show the slick menu
	.slicknav_menu {
		display: block;
		@include avenair-medium;
		text-transform: uppercase;
	}

	.slicknav_btn:before {
		font-family: 'icomoon';
		content: "\e622";
	}

	.slicknav_btn {
	    margin: 5px 5px 6px;
	    text-decoration:none;
	    position: absolute;
	    top: 5px;
	    right: 20px;
	    font-size: 40px;
	    z-index: 1;
	    
	}
	
	.slicknav_menu {
		padding:5px;
		
		&.slicknav_menutxt {
	    	color: #fff;
		}
	
		.slicknav_icon-bar {
		  background-color: #f5f5f5;
		}
	}

	.slicknav_nav {
	    color:#fff;
	    margin:0;
	    padding:0;
	    font-size:0.875em;
	    
	    ul {
		    padding:0;
			margin:0;
			
			li {
				position: relative;
			
				a {
					border-bottom: 1px solid $cyan;
				}
				
				&.menu-parent:before {
					@include icon;
					position: absolute;
					right: 10px;
					content: "\e605";
					font-size: 1em;
					color: $cyan;
					padding-top: 6px;
					text-align: center;
					z-index: -1;
				}
			
			}
			
			li.active a {
				color: $white;
			}
			
	    }
	    
	    .sub-menu {
		    margin-left: 20px;
				
			li a {
				border-bottom: 1px solid rgba($cyan, 0.2);
			}
	    }
	    
	    &.slicknav_row {
	    	padding:5px 10px 5px 0;
			margin:2px 5px 2px 0;
			
		}
		
		a {
		    padding:5px 10px 5px 0;
		    margin:2px 5px 2px 0;
		    text-decoration:none;
		    color: $medium-gray;
		    
		    &:hover {
				color: $white;
			}
	
		}
		
		.slicknav_item a,
		.slicknav_parent-link a {
		    padding:0;
		    margin:0;
		    border-bottom: none;
		}
		
		.slicknav_txtnode {
	     	margin-left:15px;   
		}
	  
	}

	.slicknav_nav, .slicknav_nav ul {
	    list-style: none;
	    overflow:hidden;
	}

}