
// ==========================================================================
//
//	Drop Down Menu
//
// ==========================================================================

// --------------------------------------------------------------------------
//	 Full width
// --------------------------------------------------------------------------

#menu-toggle {
	display: none;
}

@include media($mobile-up) {

	#main-nav {

	}

}

#main-nav {
	@include clearfix;
	@include avenair-medium;
	float: right;
	text-transform: uppercase;

	.menu {
		@include span-columns(12);
		margin: 0;
		padding: 0;

		li {
			float: left;
			list-style: none;
			margin-left: 1em;

			&:first-child {
				margin-left: 0;
			}

			&.current-menu-item, &.current-menu-ancestor, &.current-menu-parent {

				a {
					
				}
			}

			a {
				display: block;
				padding: 0.2em 0.5em;
				color: $medium-gray;
				transition: color 300ms, ease-in-out;
			}

			&.active > a, a:hover {
				color: $white;
			}

			.sub-menu {
				position: absolute;
				left: 0;

				overflow: hidden;
				padding: 0;
				/* max-height: 0; */
				width: 100%;
				background: $white;
				text-align: center;
				transition: all 500ms;
				margin-top: 15px;
				display: none;

				li {
					position: relative;
					display: inline-block;
					float: none;
					margin: 0 0 0 1em;

					&.menu-parent > a:after {
						position: absolute;
						top: 3px;
						right: 9px;
					}
					
					a {
						width: auto;
						padding: 0.5em;
						color: $super-dark-gray;
						
						&:hover {
							color: $super-dark-purple;
						}
					}
					
					&.active a {
						color: $super-dark-purple;
					}
					
				}
				
				
				
				.sub-menu {
					position: absolute;
					top: 0;
					left: 100%;
					display: none;
				}
			}
			
			&:hover > .sub-menu {
				display: block;
				z-index: 1000;
			}
			
			&.active > .sub-menu {
				display: block;
			}
		}
		
		li:after {
		    content:'';
		    display:block;
		    height:15px;
		    margin-bottom:-15px;
		}
		
	}
}


// --------------------------------------------------------------------------
//	 Collapsed
// --------------------------------------------------------------------------

@include media($tablet-down) {

	.js-nav #main-nav {
		display: block;
	}

	#nav-content {
		position: relative;
	}

	#menu-toggle {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		right: 0;
		font-size: 40px;
		color: $white;
		line-height: 1;
		z-index: 1;
		
		@include media($tablet-down) {
			top: $gap - 5px;
			right: $gap;
		}
		
	}
	
	#menu-toggle:before {
		font-family: 'icomoon';
		content: "\e622";
	}
	
	#main-nav {
	float: none;
	display: none;
	
		.menu {
			@include span-columns(12);
			margin: $gap 0;
			padding: 0;
	
			li {
				float: left;
				margin-left: 0;
				list-style: none;

				width: 100%;
	
				&:first-child {
					margin-left: 0;
				}
	
				&.current-menu-item, &.current-menu-ancestor, &.current-menu-parent {
	
					a {
						}
				}
	
				a {
					display: block;
					padding: 0.2em 0.5em;
					color: $medium-gray;
					border-bottom: 1px solid $cyan;
				}
	
				&.active > a, a:hover {
					color: $white;
					font-weight: normal;
				}
	
				&.menu-parent > a:after {
					@include icon;
					position: relative;
					top: -1px;
					float: right;
					content: "\e605"; 
					font-size: 1em;
					color: $cyan;
				}
	
				.sub-menu {
					position: relative;
					display: none;
					max-width: 100%;
					zoom:1;
					text-align: left;
					margin-top: 0;
					background: none;
	
					li {
						float: left;
						position: relative;
						display: block;
						zoom:1;
						margin: 0;
	
						&.menu-parent > a:after {
							position: absolute;
							right: 17px;
							top: 0.5em;
						}
						a {
							width: 100%;
							padding: 0.2em 0.5em 0.2em 1.8em;
							color: lighten($medium-gray, 10);
							border-bottom: 1px solid rgba($cyan, 0.2);
							
							&:hover {
								color: $white;
							}
						}
						
						.sub-menu {
							position: relative;
							left: 0;
							li {
								padding-left: 0;
								a {
									padding-left: 2.4em;
								}
							}
						}
					}
				}
				
				&.active > .sub-menu {
					display: none;
				}
				
				&:hover > .sub-menu {
					display: block;
				}
				
				
			}
		}
	}
}
