
// ==========================================================================
//
//	Drop Down Menu
//
// ==========================================================================

// --------------------------------------------------------------------------
//	 Full width
// --------------------------------------------------------------------------

@include media($mobile-up) {

	#main-nav {

	}

}

#main-nav {
	@include clearfix;
	@include avenair-medium;
	float: right;
	text-transform: uppercase;

	.menu {
		@include span-columns(12);
		margin: 0;
		padding: 0;

		li {
			float: left;
			margin-left: 1em;
			list-style: none;

			&:first-child {
				margin-left: 0;
			}

			&.current-menu-item, &.current-menu-ancestor, &.current-menu-parent {

				a {
					
				}
			}

			a {
				display: block;
				padding: 0.2em 0.5em;
				color: $medium-gray;
			}

			&.active > a, a:hover {
				@include bold-it;
				color: $white;
			}

			&.menu-parent > a:after {
				@include icon;
				position: relative;
				top: -1px;
				margin-left: 5px;
				color: $base-link-color;
				content: 'î˜';
				font-size: 1em;
			}

			&:hover > .sub-menu, &.active > .sub-menu {
				max-height: 60px;
			}

			.sub-menu {
				position: absolute;
				left: 0;
				z-index: 1000;
				overflow: hidden;
				padding: 0;
				max-height: 0;
				width: 100%;
				background: $white;
				text-align: center;
				transition: all 500ms;
				margin-top: $gap;

				li {
					position: relative;
					display: inline-block;
					float: none;
					margin-right: 0;

					&.menu-parent > a:after {
						position: absolute;
						top: 3px;
						right: 9px;
					}

					a {
						width: auto;
						padding: 0.5em;
						color: $super-dark-purple;
					}
				}
				.sub-menu {
					position: absolute;
					top: 0;
					left: 100%;
					display: none;
				}
			}
		}
	}
}


// --------------------------------------------------------------------------
//	 Collapsed
// --------------------------------------------------------------------------

@include media($mobile-down) {

	#menu-toggle {
		display: block;
	}

	#main-nav {
		@include transition(all 600ms ease-in-out);
		@include backface-visibility(hidden);
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 98;
		overflow: hidden;
		padding: 0;
		max-width: none;
		max-height: 0;
	}

	.js-nav #main-nav {
		 max-height: 400px;
	}

	#main-nav .menu {
		display: inline;
		float: left;
		float: left;
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: center;

		li {
			display: block;
			float: none;
			margin-left: 0;
			text-align: left;

			&:hover, &.current-menu-item, &.current-menu-parent {

				a {
					
				}
			}

			a {
				padding: 0.5em 0.5em 0.5em 1.5em;
				color: white;
			}

			&.menu-parent > a:after {
				position: absolute;
				top: 0.5em;
				right: 1em;
				color: white;
			}

			&:hover a {

			}

			&.active a {
				@include bold-it;
			}

			.sub-menu {
				position: relative;
				display: none;
				max-width: 100%;
				background: rgba(255, 255, 255, 0.1);
				zoom:1;

				li {
					position: relative;
					display: block !important;
					float: none;
					opacity: 1 !important;
					zoom:1;

					a {
						padding-right: 3em;
						padding-left: 3em;
						width: 100%;
					}

					&.menu-parent > a:after {
						position: absolute;
						top: 0.5em;
						right: 1em;
						color: white;
					}
					.sub-menu {
						position: relative;
						left: 0;

						li {
							padding-left: 0;

							a {
								padding-left: 4.5em;
							}
						}
					}
				}
			}
		}
	}
}
