// ==========================================================================
//
//  Shame
//    Bad practice, browser hacks and quick fixes
//		Keep definitions in here for a to-do list to re-factor / replace later
//
// ==========================================================================

// ----- Menu hacks ----- //

.ie8 #main-nav {

.menu {

			li {
				.sub-nav {
					display: none !important;
				}
			}
	}
	
}


.ie8 #main-nav
.ie9 #main-nav {

.menu {

			li {
				.sub-nav {
					
				}
				
				&:hover > .sub-menu {
					display: block;
					opacity: 1;
				}
				
				// opens sub menu on hover but then closes again
				&.show-menu > .sub-menu {
					display: block;
					z-index: 1;
					opacity: 1;
				}
			}
	}
	
}


// ----- Hero banner ----- //


// the banner z index is all messed up in ie8, ie9

.ie8 #header-wrapper,
.ie9 #header-wrapper  {
	z-index: 9999;
}

.ie8 #main-nav .menu .li .sub-menu {
	z-index: 9999;
}

.ie8 #banner,
.ie9 #banner  {
	z-index: 9998;
}

.ie8 .home .slick-prev, 
.ie9 .home .slick-next {
	z-index: 9999;
}

.ie8 .slick-prev,
.ie9 .slick-prev {
	margin-left: 20px;
}

.ie8 .slick-next,
.ie9 .slick-next {
	margin-right: 20px;
}

.ie8 .slick-list,
.ie9 .slick-list {
	z-index: 0;
}

.ie8 #hero-underlay {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

// ----- blocks ----- //

.ie8 .block-content {
		padding-bottom: 120px;
}

// ----- contact form ----- //

// form labels in right columm form were visbale - not now though!

.ie8 .gfield_label,
.ie9 .gfield_label {
	display: none !important;
}

.ie8 .ginput_container input,
.ie9 .ginput_container input {
	padding-bottom: 11px;
}

.ie9 .gfield .ginput_container input {
	margin-bottom: 2px;
} 

// forces instagram images in ie8 to maintain aspect ratio

.ie8 #instagram {
	
	img {
	    display: block;
	    max-height:600px;
	    width: auto;
	    height: auto;
	}
	
}

// ----- Image block ----- //

.ie8 .bg-image {
	// polyfill for ie8 to allow background-szie: cover;
	-ms-behavior: url(/backgroundsize.min.htc);
}

// it seems these blocks need a min-height or they collapse
.ie8 .auto {
	.block {
		min-height: 700px;
	}
}

// ----- News page ----- //

.ie8 .post section.text-block {
	padding-top: 60px;
	padding-bottom: 60px;
}
